body {
  font-family: Tahoma, Arial, sans-serif;
   background: red !important;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1 {
  color: #222;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 16px;
}
